---
import { Content as JobFinderContent } from '../../content/portfolio/jobfinder.md'
import ImageGallery from 'react-image-gallery';
import '../../../public/assets/css/style.css';
---

<html lang="en">
	<body>
		<main class="b--portfolio">
			<JobFinderContent />
			<img src="assets/images/jobfinder/dashboard.png" />
			<img src="assets/images/jobfinder/search.png" />
			<img src="assets/images/jobfinder/about.png" />
			<img src="assets/images/jobfinder/qualifications.png" />
			<img src="assets/images/jobfinder/responsibilities.png" />
		</main>
	</body>
</html>
